
table {
  width: 100%;
}
td {
  text-align: center;
  padding: 10px;
}
form {
  text-align: left;
}
.change { width: 150px; }
.price, .plan { width: 100px; }
.stripe{ text-align: left; }
.select { width: 50px }
