<% css_id = 'sp_form' if local_assigns[:css_id].nil? %>
<% user_id = nil if local_assigns[:user_id].nil? %>
<% plan_id = nil if local_assigns[:plan_id].nil? %>

<form action="<%= submit_path %>" method="post" class="payment-form" id="<%= css_id %>" style="display: none">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%= hidden_field_tag :user_id, user_id, class: 'form_user_id' -%>
  <%= hidden_field_tag :plan_id, plan_id, class: 'form_plan_id' -%>

  <div id="publishable-key" data-publishable="<%= SaasPayments.config.stripe_publishable_key %>"></div>
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div class="card-element" id="<%= css_id %>_card">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert">
      <%= flash[:sp_error] %>
    </div>
  </div>

  <button>Submit Payment</button>
</form>
