<% customer = @user.customer %>
<% plan = customer.plan.present? ? customer.plan.nickname : 'No Plan' %>

<div class="user">
  <h1><%= @user.name %></h1>
  <h3>Current Plan: <%= plan %></h3>
</div>

<h2>Hide/show multiple forms <button>activate</button></h2>
<table border="1" id="table">
  <tr>
    <th class="select"></th>
    <th class="plan">Plan</th>
    <th class="price">Price</th>
    <th>Sign up</th>
    <th class="change">Change plan</th>
  </tr>
  <%- @plans.each do |p| %>
  <tr>
    <td><input type="radio" name="plans" value="plan_<%= p.id %>" class="plan" /></td>
    <td><%= p.nickname %></td>
    <td><%= p.amount %></td>
    <td>
      <%= render 'saas_payments/stripe_elements', submit_path: '/subscriptions', css_id: "plan_#{p.id}", plan_id: p.id, user_id: @user.id %>
    </td>
    <td>
      <%= link_to "Change Plan", plan_subscriptions_path(user_id: @user.id, plan_id: p.id), method: :post %>
    </td>
  </tr>
  <%- end %>
</table>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    sp = new SPElements()

    var planChanged = function() {
      sp.show(document.querySelector('input[name="plans"]:checked').value)
    }

    var radios = document.getElementsByClassName("plan")
    for(var i = 0; i < radios.length; i++) {
      radios[i].addEventListener('change', planChanged)
    }

    planChanged()
  })
</script>
