<% customer = @user.customer %>
<% plan = customer.plan.present? ? customer.plan.nickname : 'No Plan' %>

<div class="user">
  <h1><%= @user.name %></h1>
  <h3>Current Plan: <%= plan %></h3>
</div>

<%= link_to 'Single Form Example', single_user_path(@user) %><br />
<%= link_to 'Multiple Form Example', multiple_user_path(@user) %>
<br>
<%= link_to 'Cancel', cancel_subscriptions_path(user_id: @user.id), method: :post  %>
