<% customer = @user.customer %>
<% plan = customer.plan.present? ? customer.plan.nickname : 'No Plan' %>

<div class="user">
  <h1><%= @user.name %></h1>
  <h3>Current Plan: <%= plan %></h3>
</div>

<h2>Single Form</h2>
<%- @plans.each do |p| %>
  <div>
    <label>
      <input type="radio" name="plans" value="<%= p.id %>" class="toggle" />
      <%= p.nickname %>
    </label>
  </div>
<%- end %>

<div style="width: 500px; padding-left: 20px; margin-top: 40px;">
  <%= render 'saas_payments/stripe_elements', submit_path: '/subscriptions', css_id: "one-form" %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    sp = new SPElements()

    var planChanged = function() {
      var id = document.querySelector('input[name="plans"]:checked').value
      sp.setData({ plan_id: id, user_id: <%= @user.id %>})
    }

    var radios = document.getElementsByClassName("plan")
    for(var i = 0; i < radios.length; i++) {
      radios[i].addEventListener('change', planChanged)
    }

    planChanged()
  })
</script>
